/* background image for the entire document */
body {
    background-image: url("../images/background.png");
    background-color: #ccc;
}

/* color of the nav bar */
nav {
    background-color: rgba(9,18,16,1);
}

h1 {
    font-family: 'Khula', sans-serif;
    font-size: 70px;
}

.nav {
    position: absolute !important;
    right: 20px !important;   
    bottom: 0 !important;
    font-family: 'Khula', sans-serif;
}

/* banner font for the gifs area */
#banner-area {
    font-family: 'Rock Salt', cursive;
}

/* makes all the buttons pop out */
.btn {
    border-style: outset;
    border-width: 5px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

input {
    font-family: 'Indie Flower', cursive;
}

/* depresses buttons on hover */
.btn:hover {
    border-style: inset;
    animation-name: pulse;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%{
        transform: scale(1);
        border-style: inset;
    }
    50% {
        transform: scale(1.1);
        border-style: outset;
    }
    100% {
        transform: scale(1);
        border-style: inset;
    }
}

/* this affects the home and favorites tabs */
.nav-tabs {
    position: relative;
}



/* the card wrapper for the gifs */
.imgCard {
    height: 100%;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    animation-name: shrink;
    animation-duration: .4s;
    animation-iteration-count: 1;
}

@keyframes shrink {
    0%{
        border-radius: 10px;
    }
    100% {
        border-radius: 50%;
    }
}

.imgCard-play {
    animation-name: pulse;
    animation-duration: .6s;
    animation-iteration-count: 1;
}

.imgCard-img {
    border-radius: 50%;
}

/* defaults the image overlay of the image cards to be invisible */
.infoCard {
    visibility: hidden;
    border-radius: 10px;
    height: 100%; 
    font-family: 'Finger Paint', cursive;
    background-color: rgba(0,0,0,0.7);
}

/* make the image card rectangular on hover */
.imgCard:hover, .imgCard:hover .imgCard-img {
    border-radius: 10px !important;
    animation-name: grow;
    animation-duration: .6s;
    animation-iteration-count: 1;
}

@keyframes grow {
    0%{
        border-radius: 50%;
    }
    100% {
        border-radius: 10px;
    }
}

/* show the overlay upon hover */
.imgCard:hover .infoCard {
    visibility: visible;
}

/* font size for the gif title */
.infoCard .card-title {
    font-size: 30px;
}

/* font size for the rating in the gif */
.infoCard .card-text {
    font-size: 20px;
}

/* introduction text for the movie poster */
.movie-blurb {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

/* movie title and plot overlay */
.movie-info {
    visibility: hidden;
    background-color: rgba(0,0,0,0.7);
    overflow-y: scroll;
    font-family: 'Gloria Hallelujah', cursive;
}

/* increase font size for the movie title */
.movie-info h6 {
    font-size: 28px
}

.movie-card:hover .movie-info, .movie-info:hover {
    visibility: visible;
}

/* hide the movie poster on smaller resolutions */
@media (min-width: 0px) {
    #movie-area {
        display: none;
}}

@media (min-width: 768px) {
    #movie-area {
        display: block;
}}